.contact{
    margin-top:20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    background-color: hwb(0 100% 0%);
}

.contact-page{
    display: flex;
    align-items: center;
    height:70rem;
}
.name-style>h1{
    font-size: 3.4rem;
    color:rgb(0, 0, 0);
    font-family: 'Helvetica Neue', sans-serif;
    margin-right:1rem ;
}

.left-layer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* border: 1px solid rgb(0, 0, 0); */
    height:42rem;
    width:30rem;
    margin-right: 10rem;
    margin-bottom: 5rem;
}
.left-layer div{
    border-bottom: 1px solid rgb(204, 203, 203);
    width:100%;
    height:25%;
}
.left-layer div p{
    font-family: 'Noto Sans', sans-serif;
}
.contact-details span{
    font-size: 1.6rem;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bolder;
}
.contact-details p{
    font-size: 1.6rem;
}

.form-layer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:42rem;
    /* border: 1px solid black; */
    /* box-shadow: 0px 5px 5px 2px rgb(177, 176, 176); */
    border-radius: 5px;
    padding: 5px;
}
.contact > h1{
    color:rgb(53, 52, 52);
    font-size: 32rem;
    font-family: 'Helvetica Neue', sans-serif;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}
.contact-logo{
    color:rgb(90, 90, 90);
    font-size: 6rem;
    margin:1.5rem 0rem 4rem 0rem;
}
.contact-list > div{
    color:rgb(53, 52, 52);
    display: flex;
    align-items: center;
    padding:0.5rem;
    font-size: 1.7rem;
    font-family: 'Signika', sans-serif;
    font-weight: 600;
}
.contact-list >span{
    font-size: 1.5rem;
    font-family: 'Signika', sans-serif;
    margin-bottom: 5rem;
    padding:0.5rem;
}
.message-input{
    border: 1px solid rgb(197, 191, 191);
    background-color: hwb(0 98% 2%);
    resize: none;
    height: 15rem;
    margin:0.5rem 0rem 2rem 0rem;
    padding:1rem;
    width: 50rem;
}
label{
    font-size: 15px;
    color: rgb(66, 66, 66);
    font-family: 'Signika', sans-serif;
    font-weight: bold;
}

.in{
    display: flex;
}
.in>div>div>label{
    font-size: 1.5rem;
    color: rgb(80, 78, 78);
    font-family: 'Signika', sans-serif;
    font-weight: bold;
}
.input{
    background-color: hwb(0 98% 2%);
    border: 1px solid rgb(197, 191, 191);
    margin:0.5rem 1.5rem 2rem 0rem;
    padding:0.5rem;
    width: 50rem;
}
.button{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}
.button>button{
    background-color: rgb(255, 62, 28);
    color: white;
    font-weight: bold;
    font-family: 'Signika', sans-serif;
    border-radius: 7px;
    text-align: center;
    border: 1px solid rgb(245, 244, 244);
    width:7rem;
    height:2.8rem;
}
.button>button:hover{
    transform: scale(1.02);
    transition: 0.4s;
    background-color: rgb(133, 7, 7);
    box-shadow: 1px 2px 5px 1px rgb(131, 3, 3);
}
.end-band{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    background: #000022;
    bottom: 0;
    width: 100%;
    font-family: 'Signika', sans-serif;
}

.end{
    text-align: center;
    color:white;
    font-size: 1.5rem;
    border-top: 1px solid rgb(155, 155, 155);
    width:100%;
    margin:4px;
}




/* MEDIA-QUERIES FURTHER*/



/* //tablet landscape */
@media screen and (min-width: 1024px) and (max-width: 1600px)  {

}

/* //tablet portrait */
@media screen and (min-width: 768px) and (max-width: 1023px)  {
    html{
        font-size: 58%;
    }
    .contact{
        margin-top:10rem;

    }
    .contact-page{
        display: flex;
        flex-direction: column-reverse;
    }
    
    .left-layer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height:30rem;
        width:100%;
        margin-right: 0rem;
        margin-top: 5rem;
    }
    .contact-details{
        text-align: center;
        margin:1rem 2rem 0rem 4rem;
        padding:0.4rem;
        border-top: 1px solid rgb(189, 188, 188);
    }
    .contact-details:hover{
        margin-bottom: 1rem;
    }
}


/* //smartphone landscape */
@media screen and (min-width: 480px) and (max-width: 767px)  {
    html{
        font-size: 55.5%;
    }
    .contact-page{
        display: flex;
        flex-direction: column-reverse;
    }
    
    .left-layer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height:30rem;
        width:100%;
        margin-right: 0rem;
        margin-top: 5rem;
    }
    .contact-details{
        text-align: center;
        margin:1rem 2rem 0rem 4rem;
        padding:0.4rem;
        border-top: 1px solid rgb(189, 188, 188);
    }
    .message-input{
        height: 12rem;
        width: 45rem;
    }
    .input{
        margin:0.5rem 1.5rem 2rem 0rem;
        width: 45rem;
    }
}



/* //smartphone portrait */
@media screen and (min-width: 320px)
and (max-width: 479px) {
    html{
        font-size: 52.5%;
    }

    .contact-page{
        display: flex;
        flex-direction: column-reverse;
        height:85rem;
    }
    
    .left-layer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height:30rem;
        width:100%;
        margin-left: 0rem;
        margin-top: 5rem;
    }
    .contact-details{
        text-align: center;
        margin:1rem 2rem 0rem 4rem;
        padding:0.4rem;
        border-top: 1px solid rgb(189, 188, 188);
    }

    .message-input{
        height: 12rem;
        width: 35rem;
    }
    .input{
        margin:0.5rem 1.5rem 2rem 0rem;
        width: 35rem;
    }

}

